div.wrap { 
  width:80%; 
 } 

  div,div.content,div.wrap  { 
  background-color:transparent; 
 } 

  body  { 
  background-color:#ffffff; 
 background-image:url("https://www.ableammo.com/catalog/images/ssi-2014/85149.jpg"); 
 background-position:Top Left; 
 background-attachment:fixed; 
 background-repeat:no-repeat; 
 border-width:0px; 
 border-style:Solid; 
 scrollbar-face-color:#66FF22; 
 scrollbar-highlight-color:#FF2288; 
 scrollbar-3dlight-color:#ffffff; 
 scrollbar-shadow-color:#777777; 
 scrollbar-darkshadow-color:#333333; 
 scrollbar-arrow-color:#000000; 
 scrollbar-track-color:#22AA22; 
 } 

  div#header, div#googlebar, div#topnav, ul.profileUserAlbum li, div.content, div.module, div.contentTop, div.blurbsModule h3, div.companiesModule li.moduleItem, div.blogsModule h3, div.calendarModule h3, div.friendSpaceModule h3, div.schoolsModule li.moduleItem, div.networkingModule li.moduleItem, div.interestsModule li, ul.profileUserAlbum li, div.photo, div.profileHeaderModule, div.profileDemographics, div.contentMid, div.detailsModule li, div.commentsModule h3,  div.commentsModule ul.moduleList li, div.commentsModule div.userComment, div.blurbsModule, h3.moduleHead span, div.profileDemographics, ul.profileUserInfo, div.userComment, li.odd, div.moduleBody, div.moduleList, div.moduleHead, h3.moduleHead, h3.moduleHead span span  { 
  background-color:transparent; 
 border:none; 
 border-width:0 px; 
 } 

  div.module  { 
  background-image:url("https://ct.pimp-my-profile.com/tp/000000-70-tp.png"); 
 background-repeat:repeat; 
 background-attachment:fixed; 
 background-color:transparent; 
 } 

  div.module  { 
  border-style:Solid; 
 border-width:0px; 
 } 

  div.content  { 
  border-style:Solid; 
 border-width:0px; 
 } 

  div[class~="moduleTop"],
					div[class~="moduleTop"] div,
					div[class~="moduleBottom"],
					div[class~="moduleBottom"] div { 
  background-color:transparent; 
 background-image:none; 
 font-size:0px; 
 } 

  div[class~="moduleTop"] div div,
					div[class~="moduleBottom"] div div { 
  background-image:none; 
 } 

  div[class~="moduleTop"] div div { 
  height:5px; 
 border-top:none; 
 } 

  div[class~="moduleBottom"] div div { 
  border-bottom:none; 
 } 

  div[class~="moduleMid"] { 
  border-left:none; 
 } 

  div[class~="moduleMid1"] { 
  border-right:none; 
 } 

  .pmp_topleft { 
  position:absolute; top: 0px; left: 0px; 
 } 

  div.contentTop { 
  background-image:url("https://ct.pimp-my-profile.com/i94/3/11/18/f_faff2fc846d7.gif"); 
 padding-top:20px; 
 background-repeat:no-repeat; 
 background-position:top left; 
 } 

  table, tr, td, li, p, div, div.moduleBody, div.commentsModule p.datePosted, span.count { 
  color:#ffffff; 
 font-size:12pt; 
 font-family:Papyrus; 
 } 

   h3.moduleHead, h3.moduleHead span  { 
  color:#000000; 
 font-size:12pt; 
 font-family:comic sans ms; 
 } 

   div.blurbAboutMe h4, div.blurbLikeToMeet h4, div.interestsModule li h4, div.detailsModule li strong { 
  color:#66FF22; 
 font-size:12pt; 
 font-family:Papyrus; 
 } 

  div.basicInfoDetails h2 { 
  color:#000000; 
 font-size:16pt; 
 font-family:Papyrus; 
 font-weight:bold; 
 } 

  a:active, a:visited, a:link, div.moduleBody a:active, div.moduleBody a:visited  { 
  color:#FF2288; 
 font-size:12pt; 
 font-family:Papyrus; 
 font-weight:bold; 
 text-decoration:underline; 
 } 

  a:hover, div.moduleBody a:hover  { 
  color:#eeeeee; 
 font-size:18pt; 
 font-family:Papyrus; 
 font-weight:bold; 
 text-decoration:underline; 
 } 

  div.contentMid2 { 
  background-image:url("https://wheninmanila.blob.core.windows.net/wheninmanilabucket/2019/04/Harder-Than-You-Know.png"); 
 background-repeat:no-repeat; 
 background-position:center top; 
 padding-top:140px; 
